### Python ###
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

### Ambiente ###
.env
*.sqlite3
mydb

### Projeto ###
backend/backups/
backend/notas_fiscais/migrations/
backend/oi.py
backend/Dockerfile
docker/
docker-compose.yml
precos_visual/__pycache__/
precos_visual/__pycache__/*
