{% extends 'base.html' %}

{% block content %}
<div class="page_content">
<h2>Detalhes da nota</h2>

<div>
    {{ nota_fiscal }}
    <table>
        <thead>
            <tr class="header">
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço Unitário</th>
                <th>ID Nota Fiscal</th>
            </tr>
        </thead>
        {% for item in items_queryset %}
        <tbody>
            <tr>
                <td> {{ item.produto }}</td>
                <td> {{ item.quantidade }}</td>
                <td> {{ item.preco_unitario }}</td>
                <td> {{ item.nota_fiscal_id }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>    
</div>
</div>
{% endblock %}