{% extends 'base.html' %}

{% block content %}
<div class="page_content">
<h2>Detalhes da nota</h2>

<div>
    {{ nota_fiscal }}
    <table>
        <thead>
            <tr class="header">
                <th>Produto</th>
                <th>Quantidade Un/Kg</th>
                <th>Preço Total do Item R$</th>
            </tr>
        </thead>
        {% for item in items_queryset %}
        <tbody>
            <tr>
                <td> {{ item.produto }}</td>
                <td> {{ item.quantidade }}</td>
                <td> {{ item.preco_total|stringformat:".2f" }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>    
</div>
</div>
{% endblock %}