{% extends 'base.html' %}

{% block content %}

<div class="page_content">
    <div class="block">
        <h1> Notas </h1>
        <div class="inside_block">
        <p>
            Paragrfo dentro de inside_block
        </p>

        </div>
    </div>

    <div class="block">
        <h1> Items </h1>
        <div class="inside_block">
        <p>
            Paragrfo dentro de inside_block
        </p>

        </div>
    </div>

    <div class="block">
        <h1> Supermercados </h1>
        <div class="inside_block">
        <p>
            Paragrfo dentro de inside_block
        </p>

        </div>
    </div>
</div>

{% endblock %}