{% extends 'base.html' %}

{% block content %}
<div class="page_content">
    <h2>Items comprados</h2>

    <table>
        <thead>
            <tr>
                <th>Nome do produto</th>
                <th>Preço</th>
                <th>Data</th>
                <th>Nota Fiscal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for item in items %}
                <td> {{ item.produto }} </td>
                <td> {{ item.preco_unitario }} </td>
                <td> {{ item.data_emissao }} </td>
                <td> {{ item.nota_fiscal_id }} </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhuma nota cadastrada ainda.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}