{% extends 'base.html' %}

{% block content %}
<div class="page_content">
<h2>Supermercados Cadastrados</h2>
<a href="{% url 'criar_supermercado' %}" class="add ">Novo Supermercado +</a>

<table class="table">
    <thead>
        <tr class="header">
            <th>Supermercado</th>
            <th>Endereço</th>
        </tr>
    </thead>
    <tbody>
        {% for mercado in supermercados %}
        <tr>
            <td>{{ mercado.nome }}</td>
            <td>{{ mercado.endereco }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Nenhum supermercado cadastrado ainda.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}