/* Base HTML Elements */

body {
    margin: 0px;
}

nav {
    display: inline-flex;
    background-color: rgb(77,101,77);
    height: 200px;
    width: 100%;
    padding: 0px;
    margin-bottom: 25px;
}

div.page_content {
    display: grid;
    justify-content: space-evenly;
}

a.nav {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 50px 25px;
    color: white;
}

a:hover {
    background-color: rgb(234,221,198);
    color: rgb(77,101,77);
}


div.row {
    width: max-content;
    height: 20px;
    background-color: inherit;
}

div.footer {
    width: 100%;
    background-color: rgb(164,71,65);
    height: 100px;
    margin-top: 25px;
}

div.homepage {
    margin: 2px 5px;
}



/* Home page Elements */

.block {
    background-color: rgb(117,123,143);
    padding: 30px 10px;
    display: grid;
    margin-bottom: 30px;
    align-content: center;
    justify-content: space-evenly;
}

.inside_block {
    position: relative;
    margin: 25px;
    padding: 10px;
    background-color: rgb(234,221,198);
    width: 750px;
    height: 500px;
    border-radius: 50px
}


/* Headers */

h1 {
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
    margin: 0px 25px;
    height: 50px;
    text-align: left;
}

h2 {
    color:black;
    font-size: 20px;
    padding: 23px;
    /* margin-left: 400px; */
    width: 200px;
}

h3 {
    color: brown;
    font-size: large;
}

/* Font elements */

/*
#bac0c5	(186,192,197)
#b4c7d4	(180,199,212)
#aecee4	(174,206,228)
#88a4c9	(136,164,201)
#b2ff59	(178,255,89)
*/