<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'notas_fiscais/style.css' %}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Akatab'>
    <title>Minha Homepage</title>
    <style> body {font-family: "Akatab";} </style>
</head>
<header>
<nav>
    <a class="nav hover" href="{% url 'home' %}"> Início </a>
    <a class="nav hover" href="{% url 'lista_notas' %}"> Notas </a> 
    <a class="nav hover" href="{% url 'lista_itens' %}"> Items </a> 
    <a class="nav hover" href="{% url 'lista_mercado' %}"> Supermercados </a> 
    <div class="icons">
        <a href="{% url 'admin:index' %}" id="logo_admin">
            <img src="{% static 'notas_fiscais/gear.svg' %}" width="50%" height="50%">
            <!-- width="150%", height="150%" -->
        </a>
    </div>
</nav>

</header>

{% block content %}
<!-- Child templates will insert content here -->
{% endblock %}

<div class=footer>

</div>