{% extends 'base.html' %}

{% block content %}

<div class="page_content">
    <div class="block">
        <h1> Notas </h1>
        <div class="inside_block">
            <table>
                <thead>
                    <tr class="header">
                        <th>Data emissão</th>
                        <th>Supermercado</th>
                        <th>R$ Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for nota in notas %}
                    <tr>
                        <td> {{ nota.data_emissao }} </td>
                        <td> {{ nota.supermercado }} </td>
                        <td> {{ nota.valor_total }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="block">
        <h1> Items </h1>
        <div class="inside_block">
            <table>
                <thead>
                    <tr class="header">
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr class="tbody">
                        <td> {{ item.produto }} </td>
                        <td> {{ item.quantidade }} </td>
                        <td> {{ item.preco_total }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="block">
        <h1> Supermercados </h1>
        <div class="inside_block">
            <table>
                <thead>
                    <tr class="header">
                        <th>Mercado</th>
                        <th>Num. Notas</th>
                    </tr>
                </thead>
                <tbody>
                {% for mercado, num in data.items %}
                    <tr>
                        <td> {{ mercado }} </td>
                        <td> {{ num }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}